<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<LINK REL="SHORTCUT ICON" HREF="/favicon.ico" type="image/x-icon"> 
<head>
  <title>Jer - Sar 2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<header>
	<h1></h1>
<div id="topPanel">
<ul>
  <li><%= link_to( 'Hotel', {:controller => "welcome", :action => 'hotel'}) %></li>
  <li><%= link_to( 'Details', {:controller => "welcome", :action => 'venue'}) %></li>
</ul>
<a href="/"><%= image_tag "js2016.png" %></a>
</div>
</header>

<div id="bodyPanel">
  <%= yield %>
</div>

<div id="clearfooter">
</div>

<div id="footerPanel">
  <div id="footerbodyPanel">
  <ul>
  	<li><%= link_to("Contact", {:controller => "welcome", :action => 'contact'}) %></li>
    <li><%= link_to("Social", {:controller => "welcome", :action => 'wedstory'}) %></li>
    <li><%= link_to("Story", {:controller => "welcome", :action => 'ourstory'}) %></li>
    <li><a href="/">Home</a></li>
  <p id="copyright">&copy; Sinitean & Van Geem</p>
  </ul>
  </div>
</div>
</html>
